body {
    background-image: radial-gradient(#933c3c, #9898b5);
    margin: 0;
}

header {
    display: block;
    position: relative;
    width: 100%;
    background-color: #845b72;
    padding: 1px;
}

img {
    border-radius: 20px;
}

.nav-menu,
footer {
    list-style-type: none;
}

.nav-menu li {
    display: inline;
    margin: 10px;
}

.nav-menu li:hover {
    text-decoration: underline;
}

.intro {
    border-style: hidden;
    display: flex;
}

.intro div,
.contact div {
    display: inline-block;
    margin: 10px;
}

.intro img {
    height: fit-content;
    min-width: 120px;
}

.interests {
    text-align: center;
}

.interests div {
    display: inline-block;
    margin: 5px;
}

.interests img {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    margin: 20px 20px 0px 20px;
}

.courses-info div {
    display: inline-block;
    border-style: hidden;
    border-radius: 20px 0px;
    background-color: honeydew;
}

.contact {
    margin: 50px;
    text-align: center;
}

.contact div {
    border-style: hidden;
    border-radius: 20px;
    background-color: rgb(138, 105, 124);
    padding: 10px;
}

hr {
    width: 95%;
    border-color: #845b72;
}

footer li {
    display: inline;
    margin: 5px;
}

.footer {
    /* position: fixed; */
    max-height: 80px;
    /* bottom: 0px; */
    width: 100%;
    /* background-color: beige; */
}

h1 {
    margin-top: 0px;
}

h2 {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .intro {
        flex-wrap: wrap;
    }
}