body {
    background-image: radial-gradient(#933c3c, #9898b5);
    margin: 60px 0px 0px 0px;
}

header {
    display: block;
    position: fixed;
    width: 100%;
    background-color: #845b72;
    padding: 1px;
    top: 0px;
}

img {
    border-radius: 20px;
}

.nav-menu,
footer {
    list-style-type: none;
}

.nav-menu li {
    display: inline;
    margin: 10px;
}

.nav-menu li:hover {
    text-decoration: underline;
}

.intro {
    border-style: hidden;
    display: flex;
    margin: 30px;
}

.intro div,
.contact div {
    display: inline-block;
    margin: 10px;
}

.intro img {
    height: fit-content;
    min-width: 120px;
}

.interests {
    text-align: center;
}

.interests div {
    display: inline-block;
    margin: 5px;
}

.interests img {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    margin: 20px 20px 0px 20px;
}

.container {
    display: grid;
    grid-template-rows: repeat(4, minmax(0, 1fr));
    grid-template-columns: repeat(5, minmax(0, 1fr));
    text-align: center;
    row-gap: 20px;
}

.container div {
    justify-self: center;
    padding: 10px 30px;
    border-radius: 30px 0px;
}

.course-one {
    grid-row: 1/2;
    grid-column: 1/span 2;
    background-color: rgb(255, 151, 100);
}

.course-two {
    grid-row: 2/3;
    grid-column: 2/span 2;
    background-color: rgb(135, 139, 143);
}

.course-three {
    grid-row: 3/4;
    grid-column: 3/span 2;
    background-color: #78df92;
}

.course-four {
    grid-row: 4/5;
    grid-column: 4/span 2;
    background-color: #7cc2ff;
}


/* .courses-info div {
    display: inline-block;
    border-style: hidden;
    border-radius: 20px 0px;
    background-color: honeydew;
} */

.contact {
    margin: 50px;
    text-align: center;
}

.contact div {
    border-style: hidden;
    border-radius: 20px;
    background-color: rgb(138, 105, 124);
    padding: 10px;
}

hr {
    width: 95%;
    border-color: #845b72;
}

footer li {
    display: inline;
    margin: 5px;
}

.footer {
    /* position: fixed; */
    max-height: 80px;
    /* bottom: 0px; */
    width: 100%;
    /* background-color: beige; */
}

h1 {
    margin-top: 0px;
}

h2 {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .intro {
        flex-wrap: wrap;
        justify-content: center;
    }
    body {
        margin: 70px 0px 0px 0px;
    }
}