body {
    background-color: rgb(180, 190, 190);
}

header {
    display: block;
    position: relative;
    width: 100%;
}

img {
    border-radius: 20px;
}

.nav-menu,
footer {
    list-style-type: none;
}

.nav-menu li {
    display: inline;
    margin: 10px;
}

.nav-menu li:hover {
    text-decoration: underline;
}

.intro {
    border-style: hidden;
    display: flex;
}

.intro div,
.contact div {
    display: inline-block;
    margin: 10px;
}

.intro img {
    height: fit-content;
    min-width: 120px;
}

.interests div {
    display: inline-block;
}

.interests p {
    text-align: center;
}

.interests img {
    height: 150px;
    width: 150px;
}

.contact {
    margin-bottom: 90px;
}

.courses-info div {
    display: inline-block;
    border-style: hidden;
    border-radius: 20px 0px;
    background-color: honeydew;
}

.contact div {
    border-style: hidden;
    border-radius: 20px;
    background-color: rgb(194, 247, 194);
    padding: 10px;
}

footer li {
    display: inline;
    margin: 5px;
}

.footer {
    position: fixed;
    max-height: 80px;
    bottom: 0px;
    width: 100%;
    background-color: beige;
}

h1 {
    margin-top: 0px;
}

h2 {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .intro {
        flex-wrap: wrap;
    }
}